main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

h4{
    text-align: right;
    color: #00A8CC;
}

.textContent{
    display: flex;
    flex-direction: column;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

* {
    font-family: Calibri, serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navLinks {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    align-items: center;
    justify-content: right;
    gap: 2rem;
    color: #000;
    list-style: none;
    text-decoration: none;
}

.myPhoto {
    width: 350px;
    height: 350px;
    box-shadow: -7px 7px 2px #edf7fa;
    border-radius: 100%;
}

.klad {
    font-size: xx-large;
    display: inline-block;
}

.content{
    max-width: 69vw;
}

.mainText {
    font-size: x-large;
}

.recentPosts {
    display: flex;
    flex-direction: column;
    background-color: #edf7fa;
    margin-top: 100px;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    box-shadow: -2px 2px 2px grey;
    padding: 50px;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.cards{
    display: flex;
    justify-content: center;
    background-color: #ff8080;
    gap: 30px;
}

.card {
    display: flex;
    background-color: green;
    border-radius: 6px;
    padding: 10px;
    min-width: 100px;
    width: 100%;
    max-width: 30%;
    flex-direction: column;
}


button {
    color: white;
    font-size: xx-large;
    background-color: #ff6464;
    padding: 10px 10px;
    border: 0;
    border-radius: 5px;
    width: 300px;
    transition: background-color 0.4s ease-in-out;
}

button:hover {
    color: white;
    font-size: xx-large;
    background-color: #ff8080;
    border: 0;
    border-radius: 5px;
}

@media(max-width: 1080px) {
    .intro{
        flex-direction: column-reverse;
        align-items: center;
    }

    .textContent{
        margin-left: 0;
    }

    .myPhoto{
        margin: auto;
    }

    .klad{
        text-align: center;
    }

    button{
        align-items: center;
    }

    .infoTable{
        margin-left: auto;
    }

    .recentPosts{
        align-items: center;
        padding: 0;
    }

    .cards{
        flex-direction: column;
    }
}
